{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write --ignore-path .gitignore"
  ],
  "**/*.{json,css,md}": ["prettier --write --ignore-path .gitignore"],
  "**/*.sh": ["shfmt --write --indent 2"],
  "**/*.{js,jsx,ts,tsx,json,css,md}": ["cspell --no-must-find-files"]
}
